/* nếu css liên kết đến resource (file) bên ngoài thì resource phải nằm trong thư mục src */

@font-face{
    font-family: fontGame;
    src: url('../../img/Pony.ttf');
}

.bgGame{
    background: url('../../img/bgGame.png');
    font-family: fontGame;
    height: 100vh;
    width: 100ww;
}